{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<div id="solutionCardsCarousel" class="solutionCardsCarousel carousel slide" data-bs-ride="carousel" style="padding-left: 1%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                      <img src="{% static 'img/qualidade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                      <h3>Qualidade</h3>
                    </div>
                    <div class="solu_description">
                      <p>
                        Nos orgulhamos de oferecer produtos mais frescos no mercado, com a garantia de entrega. Cada item em nosso catálogo é cuidadosamente selecionado e preparado para proporcionar uma experiência excepcional.
                      </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/variedade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Variedade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Aqui, você tem o poder de escolha. Oferecemos a possibilidade de selecionar o peso médio do frango ou carcfaça de acordo com suas preferências. Queremos garantir que você obtenha exatamente o que deseja, sem comprometer a qualidade.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/logistica.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Logística</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Com frequência de entregas elevada, garantimos que seus pedidos cheguem pontualmente e com segurança.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/mediador.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Reconhecimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Somos reconhecidos no mercado pela excepcional qualidade dos nossos produtos. Tanto os clientes quanto os consumidores finais confiam em nossa marca para proporcionar uma experiência superior.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sequência 2-->
    <div class="carousel-item">
        <div class="row">
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/variedade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Variedade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Aqui, você tem o poder de escolha. Oferecemos a possibilidade de selecionar o peso médio do frango ou carcfaça de acordo com suas preferências. Queremos garantir que você obtenha exatamente o que deseja, sem comprometer a qualidade.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/logistica.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Logística</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Com frequência de entregas elevada, garantimos que seus pedidos cheguem pontualmente e com segurança.</p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/mediador.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Reconhecimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Somos reconhecidos no mercado pela excepcional qualidade dos nossos produtos. Tanto os clientes quanto os consumidores finais confiam em nossa marca para proporcionar uma experiência superior.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/atendimento.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Atendimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Valorizamos o relacionamento com nossos clientes e buscamos construir parcerias de longa data. Nosso atendimento é marcado pela cortesia, eficiência e disponibilidade para atender às suas necessidades. Estamos aqui para você, a cada passo do caminho.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sequência 3-->
    <div class="carousel-item">
        <div class="row">
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/logistica.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Logística</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Com frequência de entregas elevada, garantimos que seus pedidos cheguem pontualmente e com segurança.</p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/mediador.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Reconhecimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Somos reconhecidos no mercado pela excepcional qualidade dos nossos produtos. Tanto os clientes quanto os consumidores finais confiam em nossa marca para proporcionar uma experiência superior.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/atendimento.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Atendimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Valorizamos o relacionamento com nossos clientes e buscamos construir parcerias de longa data. Nosso atendimento é marcado pela cortesia, eficiência e disponibilidade para atender às suas necessidades. Estamos aqui para você, a cada passo do caminho.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/qualidade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Qualidade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Nos orgulhamos de oferecer produtos mais frescos no mercado, com a garantia de entrega. Cada item em nosso catálogo é cuidadosamente selecionado e preparado para proporcionar uma experiência excepcional.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sequência 3-->
    <div class="carousel-item">
        <div class="row">
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/mediador.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Reconhecimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Somos reconhecidos no mercado pela excepcional qualidade dos nossos produtos. Tanto os clientes quanto os consumidores finais confiam em nossa marca para proporcionar uma experiência superior.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/atendimento.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Atendimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Valorizamos o relacionamento com nossos clientes e buscamos construir parcerias de longa data. Nosso atendimento é marcado pela cortesia, eficiência e disponibilidade para atender às suas necessidades. Estamos aqui para você, a cada passo do caminho.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/qualidade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Qualidade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Nos orgulhamos de oferecer produtos mais frescos no mercado, com a garantia de entrega. Cada item em nosso catálogo é cuidadosamente selecionado e preparado para proporcionar uma experiência excepcional.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/variedade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Variedade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Aqui, você tem o poder de escolha. Oferecemos a possibilidade de selecionar o peso médio do frango ou carcfaça de acordo com suas preferências. Queremos garantir que você obtenha exatamente o que deseja, sem comprometer a qualidade.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sequência 4-->
    <div class="carousel-item">
        <div class="row">
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/atendimento.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Atendimento</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Valorizamos o relacionamento com nossos clientes e buscamos construir parcerias de longa data. Nosso atendimento é marcado pela cortesia, eficiência e disponibilidade para atender às suas necessidades. Estamos aqui para você, a cada passo do caminho.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/qualidade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Qualidade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Nos orgulhamos de oferecer produtos mais frescos no mercado, com a garantia de entrega. Cada item em nosso catálogo é cuidadosamente selecionado e preparado para proporcionar uma experiência excepcional.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/variedade.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Variedade</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Aqui, você tem o poder de escolha. Oferecemos a possibilidade de selecionar o peso médio do frango ou carcfaça de acordo com suas preferências. Queremos garantir que você obtenha exatamente o que deseja, sem comprometer a qualidade.
                        </p>
                    </div>
                </div>
            </div>
            <div class=col-md-3>
                <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div class="so_top_icon">
                        <img src="{% static 'img/logistica.png' %}" alt="Qualidade">
                    </div>
                    <div class="solu_title">
                        <h3>Logística</h3>
                    </div>
                    <div class="solu_description">
                        <p>
                            Com frequência de entregas elevada, garantimos que seus pedidos cheguem pontualmente e com segurança.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<ol class="carousel-indicators" style="display: None;">
    <li data-bs-target="#solutionCardsCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#solutionCardsCarousel" data-bs-slide-to="1" class="active"></li>
    <li data-bs-target="#solutionCardsCarousel" data-bs-slide-to="2" class="active"></li>
    <li data-bs-target="#solutionCardsCarousel" data-bs-slide-to="3" class="active"></li>
</ol>

<link rel="stylesheet" href="{% static 'css/diferences.css' %}">