{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<br>
<br>
<br>
<br>
<br>

<div class="container mt-10">
    <div class="row justify-content-center">
        <div class="col-md-15">
            <div class="card">
                <img src="{% static 'img/Politica.png' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">TERMOS DE USO E POLÍTICA DE PRIVACIDADE</h2>
                    <hr>
                    <h6>1. INTRODUÇÃO:</h6>
                    <p>Ao acessar o site do FRIGORÍFICO ATALAIA S.A, o usuário concorda, juntamente com a empresa,
                       em obedecer estes termos, bem como a todas as leis e regulamentos pertinentes,
                       incluindo a Lei Geral de Proteção de Dados (Lei nº 13.709/2018), assumindo a 
                       responsabilidade pelo seu cumprimento                    </p>
                    <p>O FRIGORÍFICO ATALAIA S.A está empenhado em proteger os dados e informações pessoais
                        compartilhados pelos usuários, garantindo o respeito à privacidade em relação a 
                        qualquer informação coletada por meio do site ou de outras plataformas que possí e opera.
                    </p>
                    <p>Nossos termos visam assegurar que as informações fornecidas por usuários no ambiente web
                        não sejam repassadas ou divulgadas sem prévia autorização e consentimento dos envolvidos,
                        garantindo a proteção de dados. Os meteriais contidos nesse site são protegidos pelas leis
                        de direitos autorais e marcas comerciais aplicáveis. Quando armazenamos dados, protegemos
                        dentro de meios comercialmente aceitáveis para evitar perdas, roubos, bem como acesso,
                        divulgação, cópia, uso ou modificação não autorizadas.
                    </p>
                    <p>Não compartilhamos informações de identificação pessoal publicamnte ou com terceiros,
                       exceto quando exigido por lei. Este site pode ter links externos que não são operados 
                       pelo FRIGORÍFICO ATALAIA S.A. Esteja ciente de que não temos controle sobre o conteúdo
                       e préticas desses sites e não podemos aceitar responsabilidade por suas respectivas
                       políticas de privacidade.
                    </p>   
                    <p>Ao acessar nosso site, você afirma ter lido a íntegra deste documento e aceita todos
                       os termos aqui estabelecidos, conforme o artigo 8º da Lei nº 13.709/2018. Se não
                       concordar com esses termos, recomendamos que feche imediatamente a página. O uso
                       contínuo deste site será considerado como aceitação de nossas práticas em torno da 
                       privacidade e informações pessoais. Se você tiver dúvidas sobre como lidamos com dados
                       de usuário e informações pessoais, entre em contato conosco pelo endereço eletrônico
                       lgpd@atalaiaalimentos.ind.br
                    </p>  
                    <h6>2. DEFINIÇÕES:</h6>  
                    <h6>• DADOS PESSOAIS:</h6><p>A Lei Brasileira define "dado pessoal" como todo aquele que se
                        refira a uma pessoa física identificada ou identificável. Na prática, a expressão compreende
                        todo dado que permite identificar uma pessoa, como por exemplo: nome, CPF, número de identidade,
                        fotografia, etc. Aém disso, os dadps pessoais podem ser sensíveis ou não.
                    </p>
                    <h6>• DADOS PESSOAIS SENSÍVEIS:</h6><p>Um dado pessoal sensível é aquele que se refere a origem
                        racial ou étnica, convicção religiosa, opinião política, filiação a sindicato pu a organização
                        de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado
                        genético ou biométrico quando vinculado a uma pessoa natural.
                    </p>
                    <h6>• USUÁRIO:</h6><p>Pessoa física que interaja com O FRIGORÍFICO ATALAIA S.A em situações
                        onde tenha a possibilidade de disponibilizar seus dados pesssoais. Exemplos: pessoas que
                        naveguem em seu website, portais, redes sociais, colaboradores, terceiros ou prestadores 
                        de serviços, partes interessadas, dente outros.
                    </p>
                    <h6>• COOKIES:</h6><p>São arquivos de informação que são armazenados no computador ou dispositivo
                        do usuário através do navegador de internet(browser). Estes arquivos permitem que durante um
                        periódo de tempo, um website "se lembre" das ações e preferências registradas em nome do usuário.
                        O uso de cookies existe paar que o usuário, ao regressar a um website que já visitou, não tenha, 
                        em princípio, que indicar novamente as suas preferências de navegação (idioma, fonte, forma de
                        visualização, etc). Os cookies podem ser presistentes ou de sessão.
                    </p>
                    <h6>• COOKIES PERSISTENTES:</h6><p>Permanecem no dispositivo do usuário mesmo após fechar a sessão
                         ou até sua exclusão.</p>
                    <h6>• TERMO DE CONSENTIMENTO:</h6><p>Documento que coleta manifestação favorável ao tratamento dos dsdos
                        pessoais para finalidades determinadas.
                    </p>
                    <h6>3. COLETA DE DADOS PESSOAIS:</h6>
                    <p>A coleta de dados pessoais é necessária para que o FRIGIRÍFICO ATALAIA S.A ofereça seus produtos
                       e funcionalidades de forma adequada às necessidades dos usuários, fazendo com que sua experiência
                       seja mais cômoda e satisfatória possível.
                    </p>
                    <p>Ao solicitar dados pessoais e dados pessoais sensíveis, o FRIGIRÍFICO ATALAIA S.A poderá solicitar
                       o consentimento do usuário por meio de Termos de Consentimento, seguindo e cumprindo as obrigações
                       legais e regulatórias. A utilização de todo e qualquer website e/ou aplicativo desenvolvidos pelo
                       FRIGORÍFICO ATALAIA ALIMENTOS S.A não implica neecssáriamente a disponibilização de dados pessoais.
                       No entanto, se o usuário pretender cadastrar informações de seu currículo com dados pessoais e dados 
                       sobre sua vida profissional, seus dados serão solicitados através de formulários eletrônicos ou por
                       email.
                    </p>
                    <h6>4. UTILIZAÇÃO DE DADOS PESOAIS:</h6>
                    <p>O FRIGORÍFICO ATALAIA S.A é a entidade responsável pelo tratamento dos dados pessoais dos seus usuários
                       ou pelo seu encaminhamento pera outras unidades da mesma.
                    </p>
                    <p>Os dados pessoais dos usuários serão utilizados para análise de informações concedidas para aprticipação
                        em processos seletivos, podendo ser relacionados com os dados das demais unidades do FRIGORÍFICO ATALAIA S.A.
                    </p>
                    <p class="card-text"><small class="text-muted">Última atualização em 08/04/2024.</small></p>
                    <h6>5. COMPARTILHAMENTO DE DADOS PESSOAIS:</h6>
                    <p>Haverá a trasmissão e comunicação de dados pessoais entre os departamentos do FRIGORÍFICO ATALAIA S.A, com
                       acesso de colaboradores designados, sempre que neecssário em um processo de seleção em candidaturas para vagas
                       de emprego.
                    </p>
                    <p>O FRIGORÍFICO ATALAIA S.A poderá também transmitir dados pessoais dos usuários a terceiros quando tais comunicações
                        de dados se tornarem necessárias ou adequadas:  
                    </p>
                    <p>I - À luz da lei aplicável;</p>
                    <p>II -  No cumprimento de obrigações legais ou ordens judiciais;</p>
                    <p>III – Por determinação da Autoridade Nacional de Proteção de Dados ou outra autoridade de controle competente; ou</p>
                    <p>IV - Para responder a solicitações de autoridades públicas ou governamentais.</p>
                    <p>O usuário do site //www.atalaiaalimentos.ind.br possui a opção de garantir a privacidade e segurança na trasmissão 
                        dos dados pessoais utilizando o acesso da página em criptografia SSL (Secure Sockets Layer) através do acesso via:
                        https://www.atalaiaalimentos.ind.br
                    </p>
                    <h6>6. CONSERVAÇÃO DE DADOS PESSOAIS:</h6>
                    <p>Os dados são conservados pelo período estritamente necessário para cada uma das finalidades descritas neste documento
                       ou de acordo com os prazos legais vigentes. em caso de litígio pendente, os dados podem ser conservados até o trânsito
                       em julgado da decisão.
                    </p>
                    <p>Além disso, o FRIGORÍFICO ATALAIA S.A assegura que manterá em funcionamento todos os meios técnicos ao seu alcance para
                       evitar a perda, má utilização, alteração, acesso não autorizado e apropriação indevida dos dados pessoais dos usuários.
                       No entanto, é importante destacar que, ao circularem os dados em rede internet aberta, não é possível eliminar totalemnete
                       o risco de acesso e utilização não  autorizados. Portanto, recomenda-se que o usuário adote medidas de segunça adequadas
                       para a navegação do website.
                    </p>
                    <h6>7. COOKIES E TECNOLOGIAS SEMELHANTES:</h6>
                    <p>No ambiente online, o FRIGORÍFICO ATALAIA S.A recebe e armazena dados dos seus usuários mediante a utilização de cookies.
                      A maioria dos programas de navegação está definida para aceitar cookies automaticamente, embora seja possível configurar o
                      navegador para recusar todos os cookies ou para indicar quando um cookie será enviado. Quando os cookies são aceitos, em uma
                      próxima visita ao site do FRIGORÍFICO ATALAIA S.A, o servidor de internet reconhecerá o dispositivo utilizado pelo usuário.
                    </p>
                    <p>Os websites utilizam cookies persistentes e de sessão. Os cookies persistentes podem ser removidos seguindo as instruções do
                     arquivo de ajuda do navegador de internet do usuário.</p>
                     <p><b>• O que são cookies?</b></p>
                     <p>Como é prática comum em quase todos os sites profissionais, este site utiliza cookies, que são pequenos arquivos baixados
                        nos dispositivos do usuário, para melhorar sua experiência. Este documento descreve quais informações eles coletam, como
                        são usadas e por que às vezes precisamos armazená-las.
                    </p>
                    <p><b>• Como usamos os cookies?</b></p>
                    <p><b>Finalidades de uso de Cookies pelo FRIGORÍFICO ATALAIA S.A:</b></p>
                    <p><b>a) Analítica:</b> Análise estatística de navegação, com o objetivo de melhorar e entender a experiência de navegação.</p>
                    <p><b>b) Publicitária:</b> Análise dos hábitos de navegação e preferêcnias dos usuários, com o objetivo de mostrar publicidade
                    exclusivamente relacionada ao seu perfil de navegação.</p>
                    <p><b>A utilização dos Cookies se dá como explicado abaixo:</b></p>
                    <p><b>• Cookies relacionados à conta:</b> Se criar uma conta conosco, usaremos cookies para o gerenciamento do processo de 
                    inscrição e administração em geral. Esses cookies geralmente são excluídos quando você sair do sistema, mas em alguns casos, podem
                    permanecer para lembrar as preferências do usuário.</p>
                    <p><b>• Cookies relacionados ao login:</b> Utilizamos cookies quando o usuário está logado em nossa plataforma para lembrar dessa ação,
                    evitando a necssidade de um novo login a cada nova página visitada. Esses cookies são normalmente removidos quando o usuário efetua logout.</p>
                    <p><b>• Cookies relacionados a boletins por e-mail:</b> Podem ser usados para lembrar se o usuário está registrado e se deve mostrar
                    determinadas notificações.</p>
                    <p><b>• Pedidos processando Cookies relacionados:</b> Essenciais para garantir que seu pedido seja lembrado entre as páginas, para 
                    que o mesmo possa ser processado adequadamente.</p>
                    <p><b>• Cookies relacionados à pesquisa:</b> Podem ser usados para lembrar quem já participou de uma pesquisa ou para fornecer resultados 
                    precisos após alteração das páginas. </p>
                    <p><b>• Cookies relacionados a formulários:</b> Podem ser configurados para lembrar detalhes do usuário para correspondência
                     futura quando dados são enviados por meio de formulário.</p>
                    <p><b>• Cookies de preferências do site:</b> Fornecem a funcionalidade para definir suas preferências de como o site é executado
                    quando um usuário o usa.</p>
                    <p><b>• Cookies de terceiros:</b> Utilizados para entender como os usuários usam o site e como podemos melhorar sua experiência,
                    além de rastrear estatísticas sobre quantos visitantes de nosso site realmente compram algum produto.</p>
                    <p><b>Este site usa o Google Analytics</b>, uma das soluções de análise mais difundidas e confiáveis da web, para entender como
                    os usuários usam o site e melhorar sua experiência. Esses cookies podem rastrear itens como quanto tempo o usuário passa no site ou em cada
                    das páginas. Periodicamnte, podem ser testados novos recursos e alterações na maneira como o  site se apresenta. Quando ainda estivermos
                    testando novos recursos, esses cookies podem ser usados para garantir uma experiência consistente enquanto estiver no sit5e, entendendo quais
                    otimizações os usuários mais apreciam. Esses cookies rastreiam estatísticas sobre quantos visitantes de nosso site realmente compram algum 
                    produto, permitindo fazer previsões de negócios com precisão e analisar custos de publicidade e produtos.
                    </p>
                    <h6>8. TECNOLOGIAS DE RASTREABILIDADE - SINALIZADOTRES DA WEB:</h6>
                    <p>Utilizamos uma tecnologia de software designada por sinalizadores da web, também conhecidos como Web Beacons, Web Bugs, Clear Gifs ou Pixels,
                    para prestar apoio na compreensão de quais são os conteúdos eficazes, por exemplo, mediante a contagem de usuários que visitaram determinadas
                    páginas do site. Os sinalizadores da web consistem em pequenos gráficos com um identificador único, cuja função é semelhante aos cookies, e que
                    são utilizados para que se possa saber se determinado conteúdo é visualizado. Ao contrário dos cookies, que são armazenados no dispoditivo do usuário,
                    os sinalizadores da web estão invisivelmente embutidos nas páginas da web. O FRIGORÍFICO ATALAIA S.A pode assim correlacionar os dados já recolhidos.
                    </p>
                    <p>Utilizamos em nossas plataformas o Google analytics, que não está sob nossa responsabilidade. Para entender de que forma o Google trata os dados
                    coletados, recomendamos que acesse <a href='https://policies.google.com/privacy?hl-pt-BR'>Política de Privacidade do Google</a></p>
                    <h6>9. COMPROMISSOS DOS USUÁRIOS:</h6>
                    <p>Esclarecemos que o conteúdo inserido nas plataformas do FRIGORÍFICO ATALAIA S.A não possui caráter desabonador ou depreciativo. Tem por característica
                    a clareza e finalidade voltada à comercialização e promoções de produtos derivados do Frango. Todas as fotos utilizadas nas plataformas do FRIGORÍFICO
                    ATALAIA S.A são referentes à própria instituição. As demais, que não se enquadram nesta categoria, têm finalidade ilustrativa e são adquiridas legalmente
                    em bancos de de imagens, por meio de aquyisição lícita ou licença Creatives Commons. Pesssoas físicas retratas no site ou em outra plataforma do
                    FRIGORÍFICO ATALAIA S.A assinaram termo de imagem autorizando o uso ou gravaram voz autorizando o uso.
                    </p>
                    <p>
                        Informamos que, em atendimento ao § VII do artigo 5º da Lei Geral de Proteção de Dados, o indicado como Encarregado pelo Tratamento de Dados Pessoais
                        Fulano Beltrano da Silva e pode ser contatado pelo e-mail fulano.silva@atalaiaalimentos.ind.br. Também informamos que possuímos Comissão de Conformidade
                        no Tratamento de Dados Pessoais, sendo responsável pela adequação da LGPD na instituição. 
                    </p>
                    <p>
                        O usuário se compromete a fazer uso adequado dos conteúdos e das informações que o FRIGORÍFICO ATALAIA S.A oferece no site, com caráter enunciativo, mas não
                        limitativo:
                    </p>
                    <p>a) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé à ordem pública;<div>
                    <p>b) Não difundir propaganda ou conteúdo de natureza racista, xanofóbica, jogos de azar, qualquer tipo de pornografia, apologia ao terrorismo ou contra os 
                        direitos humanos;</p>
                    <p>c) Não causar danos aos sistemas físicos (hardwares) e lógicos(softwares) do FRIGORÍFICO ATALAIA S.A, de seus fornecedores ou terceiros, para introduzir ou
                        disseminar vírus informáticos ou quaisquer outros sistemas de hasrdware ou software que sejam capazes de causar os danos anteriormente mencionados.
                    </p>
                    <h6>10. PÁGINAS OU PLATAFORMAS DE TERCEIROS:</h6>
                    <p>Através de suas plataformas, o FRIGORÍFICO ATALAIA S.A pode disponibilizar conexões e ligações (weblinks e/ou conteúdo incorporado) para websites ou plataformas
                    de terceiros, os quais estão sujeitos a políticas de privacidade independentes. Esta Política de Privacidade de Dados e Uso de Cookies nãos e aplica a tais websites
                    e/ou plataformas, e não nos responsabilizamos pela forma como os dados sos usuários são tratados por parte dos referidos terceiros.
                    </p>
                    <p>
                        Entretanto, o FRIGORÍFICO ATALAIA S.A reserva-se EM SEUS PERFIS DE REDE SOCIAIS, o direito de excluir comentários e textos que julgar ofensivos, difamatórios,
                        caluniosos, preconceituosos ou, de alguma forma, prejudiciais a terceiros. Em caso de reincidência, a comunicação com FRIGORÍFICO ATALAIA S.A poderá a pessoa de interagir
                        com suas publicações e atuar juridicamente contra a pessoa (mesmo que a postagem aconteça fora das plataformas do FRIGIRÍFICO ATALAIA S.A). Poderá haver moderação
                        dos comentários que contiverem dados pessoais dos autores ou terceiros para garantir a privacidade das informações. os comentários também poderão ser editados,
                        desde que seja mantido o sentido original.
                    </p>
                    <h6>11. CONTEÚDO DO SITE E SUA UTILIZAÇÃO:</h6>
                    <p>Todo o conteúdo exietnte no site www.atalaiaalimentos.ind.br é propriedade do FRIGORÍFICO ATALAIA S.A e sua reprodução, total ou parcial, para uso comercial ou editorial
                        ou republicação na internet deve ser feita de forma autorizada e obrigatóriamente citando a fonte e incluindo o link do site para o conteúdo original (Lei 9.610/98).
                        Fica permitida a utilização do conteúdo pela imprensa, desde que o conteúdo esteja alocado em área especificada para tal.
                    </p>
                    <p>É concebida permissão para baixar temporariamente uma cópia dos materiais (conteúdo, informações ou software) no site do FRIGORÍFICO ATALAIA S.A, apenas para
                        visualização transitória pessoal e não comercial. Está é uma concessão de uma licença e não trasferência de título e, sob esta, não se pode:
                    </p>
                    <p>• Modificar ou copiar qualquer material;</p>
                    <p>• Usar qualquer material para quaisquer finalidade comercial ou para exibição pública (comercial ou não comercial)</p>
                    <p>• Tentar descompilar ou fazer engenharia reversa de qualquer software contido no site e plataformas do FRIGORÍFICO ATALAIA S.A;</p>
                    <p>• Remover quaiquer direitos autoriais ou outras notações de propriedade dos conteúdos das plataformas do FRIGORÍFICO ATALAIA S.A;</p>
                    <p>• Remover quaisquer direitos autorais ou outras notações de propriedade dos conteúdos das plataformas do FRIGORÍFICO ATALAIA S.A;</p>
                    <p>• Trasferir material para outra pessoa ou 'espelhar' em qualquer outro servidor;</p>
                    <p>Esta 'licença' será automaticamente rescindida se alguma dessas restrições for violada e também poderá ser rescindida pelo FRIGORÍFICO ATALAIA S.A
                        a quaiquer momento. Ao encerrar a visualização dos materiais e conteúdo baixado em sua posse, em formato eletrõnico ou impresso, os mesmos deverão ser apagados.
                    </p>
                    <h6>12. ISENÇÃO DE RESPONSABILIDADE:</h6>
                    <p>Os materiais do site do FRIGORÍFICO ATALAIA S.A são fornecidos "como estão", e, portanto, não oferecem garantias expresas ou implícitas. Por meio disso, isentam
                        e negam todas as outras garantias, incluindo, sem limitação, condições de comercialização, adequação a um fim específico, não violação de propriedade intelectual
                        ou violação de direitos.     
                    </p>
                    <p>
                        Além disso, não garantem ou fazem qualquer representação relativa à precisão, aos resultados prováveis ou à confiabilidade do uso dos materiais em seu site ou de
                        qualquer outra forma relacionada a esse conteúdo ou em sites vinculados ao mesmo.
                    </p>
                    <h6>13. LIMITAÇÕES:</h6>
                    <p>Em nenhum caso o FRIGORÍFICO ATALAIA S.A ou seus fornecedores serão responsáveis por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro devido
                        a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar o conteúdo do FRIGORÍFICO ATALAIA S.A, mesmo que o FRIGORÍFICO ATALAIA S.A ou um representante
                        autorizado tenha sido notificado oralmente ou por escrito da possibilidade de tais dados. Como algumas jurisdições não permitem limitações em garantias implícitas, ou
                        limitações de responsabilidade por danos consequentes ou incidentais, essas limitaçãoes podem não ser aplicadas.
                    </p>
                    <h6>14. PRECISÃO DOS MATERIAIS E CONTEÚDO:</h6>
                    <p>Os materiais no site do FRIGORÍFICO ATALAIA S.A podem incluir erros técnicos, tipográficos ou fotográficos, e não garantimos que qualquer conteúdo em nosso site seja preciso,
                        completo ou aual. O FRIGORÍFICO ATALAIA S.A pode fazer alterações nos conteúdos em seu site a qualquer momento, sem prévio aviso; no entanto, não nos comprometemos com a 
                        atualização constante dos materiais. 
                    </p>
                    <h6>15.	LINKS</h6>
                    <p>O FRIGORÍFICO ATALAIA S.A não analisou todos os sites de terceiros vinculados à seu site e não é responsável pelo conteúdo de nenhum desses sites. A inclusão de qualquer link
                    implica endosso pelo FRIGORÍFICO ATALAIA S.A do site. O uso de qualquer site vinculado é por conta e risco do usuário.
                    </p>
                    <h6>16. MODIFICAÇÕES:</h6>
                    <p>O FRIGORÍFICO ATALAIA S.A pode revisar esse termo a qualquer momento, sem aviso prévio. Ao usar esse site, o usuário deve concordar em ficar vinculado à versão mais atual desse documento.</p>
                    <h6>17. RECLAMAÇÕES E DÚVIDAS:</h6>
                    <p>Caso tenha alguma dúvida relacionada com o tratamento dos seus dados pessoais e com os direitos que lhe são conferidos pela legislação aplicável e, em especial, referidos nessa Política,
                        poderá acionar o FRIGORIFICO ATALAIA S.A – Atalaia Alimentos através do email: ouvidoria@atalaiaalimentos.ind.br
                    </p>
                    <p>O usuário ainda tem o direito de apresentar uma reclamação à Autoridade Nacional de Proteção de Dados conforme previsto em lei.</p>
                    <h6>18. LEI APLICÁVEL:</h6>
                    <p>Estes termos são regidos e interpretados de acordo com as leis do FRIGORÍFICO ATALAIA S.A e o usuário se submete irrevogavelmente à jurisdição exclusiva dos tribunais naquele estado ou localidade.</p>
                </div>  
                <div>
                    <p>
                        Para maiores informações entre em contato conosco através de lgpd@atalaiaalimentos.ind.br
                    </p>
                </div>  
            </div>
        </div>
    </div>
</div>

<style>
p {
    text-align: justify;
}
</style>