{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card border-0 rounded-4">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table id="products-table" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Produto</th>
                    <th class="text-center" scope="col">Imagem</th>
                    <th class="text-center" scope="col">Categoria</th>
                    <th class="text-center" scope="col">Descrição</th>
                    <th class="text-center" scope="col">Peso</th>
                    <th class="text-center" scope="col">Unidade</th>
                    <th class="text-center" scope="col">Validade</th>
                    <th class="text-center" scope="col">Conservação</th>
                    <th class="text-center" scope="col">Nutrição</th>
                    <th class="text-center" scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                  <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product }}</td>
                    <td>
                      {% if product.image %}
                      <img src="{{ product.image.url }}" alt="{{ product.product }}" class="img-thumbnail" style="max-width: 100px;">
                      {% else %}
                      Sem imagem
                      {% endif %}
                    </td>
                    <td class="text-center">{{ product.category }}</td>
                    <td>{{ product.description }}</td>
                    <td class="text-center">{{ product.weight }}</td>
                    <td class="text-center">{{ product.unit }}</td>
                    <td class="text-center">{{ product.validity }}</td>
                    <td class="text-center">{{ product.conservation }}</td>
                    <td>{{ product.nutricional_informations_image }}</td>
                    <td class="text-center actions" style="display: flex; align-itens: center">
                      <div class="btn-group" role="group" aria-label="Ações">
                          <a type="button" class="btn btn-primary open-modalupd-btn" data-product-pk="{{ product.pk }}" title="Editar">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-highlighter" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.096.644a2 2 0 0 1 2.791.036l1.433 1.433a2 2 0 0 1 .035 2.791l-.413.435-8.07 8.995a.5.5 0 0 1-.372.166h-3a.5.5 0 0 1-.234-.058l-.412.412A.5.5 0 0 1 2.5 15h-2a.5.5 0 0 1-.354-.854l1.412-1.412A.5.5 0 0 1 1.5 12.5v-3a.5.5 0 01 .166-.372l8.995-8.07zm-.115 1.47L2.727 9.52l3.753 3.753 7.406-8.254zm3.585 2.17.064-.068a1 1 0 0 0-.017-1.396L13.18 1.387a1 1 0 0 0-1.396-.018l-.068.065zM5.293 13.5 2.5 10.707v1.586L3.707 13.5z"/>
                              </svg>
                          </a>
                      </div>
                      <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger btn-lg delete-btn" title="Excluir">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                      </a>
                  </td>
              </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add Modal -->
<!-- Add Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atualizar Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% block table_upd %}
            {% include 'components/_product_update_form.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var btns = document.querySelectorAll(".open-modalupd-btn");
    var modal = new bootstrap.Modal(document.getElementById("UpdateModal"));

    btns.forEach(function(btn) {
        btn.addEventListener('click', function() {
            var productPk = this.getAttribute('data-product-pk');

            // Fetch the content for the modal here
            fetch(`/update_product/${productPk}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    var modalBody = document.querySelector('#UpdateModal .modal-body');
                    if (modalBody) {
                        modalBody.innerHTML = data;
                        modal.show();
                    } else {
                        console.error('Modal body element not found');
                    }
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        });
    });

    window.addEventListener('click', function(event) {
        if (modal && event.target === modal._element) {
            modal.hide();
        }
    });
});
</script>
